@font-face {
    font-family: tm;
    src: url(./Font/Acid\ TM.otf);
}

@font-face {
    font-family: fontSpring;
    src: url(./Font/Fontspring-DEMO-pinkcrestelle-semibold.otf);
}

@font-face {
    font-family: hatsch;
    src: url(./Font/Hatsch.ttf);
}

@font-face {
    font-family: romancio;
    src: url(./Font/Romancio.otf);
}
@font-face {
    font-family: sans;
    src: url(./Font/GeneralSans-Regular.otf);
}
@font-face {
    font-family: apercu;
    src: url(./Font/apercu-regular-pro.ttf);
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

section {
    background-color: #049DD9;
    height: 100%;
    width: 20%;
}

.section-top {
    /* border: 2px solid red; */
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 2%;
}

.section-top svg {
    padding: 4px;
    border-radius: 7px;
    height: 45%;
    /* color: ; */
    cursor: pointer;
}

.section-top svg:hover {
    background-color: #05C7F2;
}

.section-middle {
    /* border: 2px solid red; */
    height: 80%;
    width: 100%;
    padding: 0.5vw;
    overflow: scroll;
}
/* Design of scrollbar of history section */

.section-middle::-webkit-scrollbar {
    width: 10px;              
    height: 100%;              
}
.section-middle::-webkit-scrollbar-track {
    background-color: #031626;
    border-radius: 10px;       
}
.section-middle::-webkit-scrollbar-thumb {
    background-color: #05C7F2;    
    border-radius: 10px;       
    border: 3px solid #031626; 
}
.section-middle::-webkit-scrollbar-thumb:hover {
    background-color: #05C7F2;   
}
.section-middle::-webkit-scrollbar-corner {
    background-color: #031626;
}
/* end of design */
.section-middle .history {
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
    margin-bottom: 0.7vw;
    border-radius: 7px;
}
.section-middle .history .circle-dot{
    height: 10px;
    width: 10px;
    border: 5px solid black;
    background-color: black;
    border-radius: 50%;
    margin-left: 3%;
}
.section-middle .history p {
    height: 100%;
    width: 85%;
    color: black;
    padding: 0.3vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: romancio;
    font-size: 1.2vw;
    align-content: center;
    border-radius: 7px;
}

.section-middle .history:hover,
.history i:hover {
    background-color: #05C7F2;
    cursor: pointer;
}

.section-middle .history i {
    width: fit-content;
    height: 100%;
    color: black;
    border-radius: 7px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: right;
    cursor: pointer;
    font-size: 125%;
}

.section-bottom {
    height: 10%;
    width: 100%;
    /* border: 2px solid burlywood; */
    display: flex;
    align-items: top;
    justify-content: center;
    column-gap: 2%;
    padding-top: 5%;
}

.section-bottom i {
    height: fit-content;
    color: black;
    margin-top: 2%;
    border: 1px solid black;
    padding: 2%;
    border-radius: 50%;
}

.section-bottom #upgrade {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
}

.section-bottom #upgrade h1 {
    font-size: 130%;
    width: fit-content;
    padding: 1.5%;
    border-radius: 7px;
}

.section-bottom #upgrade h1:hover {
    background-color: #05C7F2;
    cursor: pointer;
}

.section-bottom #upgrade h2 {
    font-size: 90%;
    width: fit-content;
}

.section-bottom #upgrade h2:hover {
    color: #582259;
    cursor: pointer;
}

.section-bottom #upgrade h1,
#upgrade h2 {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

/* Section End Here */

main {

    background-color: #05C7F2;
    width: 80%;
    height: 100%;
}

main #conversation {
    background-color: #05C7F2;
    width: 100%;
    height: 90%;
}

main #conversation .intro-part {
    width: 100%;
    height: 20%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    position: relative;
}

/* Custom dropdown */
.intro-part #custom-dropdown{
    position: absolute;
    top: 10%;
    transform: translate(0%,0%);
    height: 40vh;
    width: 30vw;
    /* background-color: pink; */
    margin-top: 2vw;
}

.intro-part #custom-dropdown #dropdown{
    height: fit-content;
    width: fit-content;
    background-color: #031626;
    color: #dad7cd;
    display: flex;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 0.4vw;
}

.intro-part #custom-dropdown #dropdown h1{
    font-family: sans;
    padding: 0.8vw;
    font-size: 1.4vw;
}
.intro-part #custom-dropdown #dropdown i{
    align-content: center;
    font-size: 1.7vw;
    font-weight: 900;
}
.intro-part #custom-dropdown .dropdown-page{
    height: fit-content;
    width: 100%;
    /* background-color: blue; */
    background-color: #dad7cd;
    color: #031626;
    border-radius: 7px;
    /* display: none; */
}
/* .view{
    display: block;
} */
.nonView{
    display: none;
}
.intro-part #custom-dropdown .dropdown-page .options{
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: sans;
    padding: 0.5vw;
    column-gap: 0.7vw;
    cursor: pointer;
    border-radius: 7px;
}
.intro-part #custom-dropdown .dropdown-page .options:hover{
    background-color: black;
    color: white;
    scale: 1.02;
    transition: all 0.2s linear;
    border-radius: 7px;
}
.intro-part #custom-dropdown .dropdown-page .options i{
    /* background-color: yellow; */
    align-content: center;
    border: 2px solid #dad7cd;
    height: fit-content;
    width: fit-content;
    font-size: 130%;
    padding: 0.5vw;
    border-radius: 50%;
}
.intro-part #custom-dropdown .dropdown-page .options .description{
    width: 60%;
}
.intro-part #custom-dropdown .dropdown-page .options .description h1{
    /* background-color: yellow; */
    font-size: 2vw;
}
.intro-part #custom-dropdown .dropdown-page .options .description h3{
    /* background-color: yellow; */
    font-size: 0.8vw;
}

.intro-part #custom-dropdown .dropdown-page .options .button
{
    /* background-color: yellowgreen; */
    border: 2px solid white;
    padding: 0.4vw 0.8vw;
    border-radius: 30px;
    font-size: 1.5vw;
}
.intro-part #custom-dropdown .dropdown-page .options:nth-child(2) i:nth-child(3)
{
    /* background-color: pink; */
    margin-left: 2.5vw;
}
.intro-part .profile-features{
    position: absolute;
    top: 30%;
    right: 2%;
    height: fit-content;
    width: fit-content;
    padding: 1.1% 1.3%;
    font-size: 2vw;
    font-weight: 900;
    border-radius: 50%;
    background-color: #031626;
    color: #dad7cd;
    cursor: pointer;
}
.intro-part .profile-features:hover{
    background-color: black;
    color: white;
    scale: 1.02;
    transition: all 0.2s ease-in-out;
}

/* Communication Part */

.communication-part {
    width: 100%;
    height: 80%;
    /* border: 2px solid blue; */
    overflow: scroll;
    overflow-x: hidden;
}

/* Designing the scrollbar */
.communication-part::-webkit-scrollbar {
    width: 10px;              
    height: 100%;              
}
.communication-part::-webkit-scrollbar-track {
    background-color: #031626;
    border-radius: 10px solid #031626;       
}
.communication-part::-webkit-scrollbar-thumb {
    background-color: #049DD9;    
    border-radius: 10px;       
    border: 3px solid #031626; 
}
.communication-part::-webkit-scrollbar-thumb:hover {
    background-color: #049DD9;   
}
.communication-part::-webkit-scrollbar-corner {
    background-color: #031626;
}

/* End of scrollbar */
.communication-part .usersRequest{
    /* border: 5px solid white; */
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 1% 3%;
    overflow-x: hidden;
}
.communication-part .usersRequest p{
    background-color: #031626;
    width: 60%;
    border-radius: 10px;
    padding: 1% 3%;
    font-family: apercu;
    color: #dad7cd;
    font-size: 1vw;
    font-weight: 100;
    align-content: center;
}
.communication-part .aiResponse{
    /* border: 5px solid red; */
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 1% 3%;

}
.communication-part .aiResponse p{
    background-color: #031626;
    width: 60%;
    border-radius: 10px;
    padding: 1% 3%;
    font-family: apercu;
    color: #dad7cd;
    font-size: 1vw;
    font-weight: 100;
    align-content: center;
}
/* user input section from where user can send req */
main #footer {
    background-color: #05C7F2;
    /* border: 1px solid white; */
    width: 99%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* From Uiverse.io by EddyBel */ 
.input__container {
    position: relative;
    background: #031626;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 22px;
    transition: transform 400ms;
    transform-style: preserve-3d;
    perspective: 500px;
    width: 70%;
  }
  .input__container i{
    background-color: #049DD9;
    color: #132a13;
    font-size: 1.5vw;
    align-content: center;
    height: fit-content;
    width: fit-content;
    padding: 1%;
    border-radius: 50%;
    cursor: pointer;
  }
  .input__container i:hover{
    transform-origin: center;
    scale: 1.1;
    transition: all 0.2s linear;
  }

  .input__search {
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 8px;
    position: relative;
    background-color: transparent;
    color: #dad7cd;
    overflow: scroll;
    font-family: apercu;
    font-size: 1.2vw;
    font-weight: 700;
  }
  .input__search ::-webkit-scrollbar{
    display: none;
  }


  /* First look of the session */
  .communication-part #basic-view{
    height: 100%;
    width: 100%;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .communication-part #basic-view #main-logo{
    height: fit-content;
    width: fit-content;
    /* border: 2px solid #dad7cd; */
    border-radius: 50%;
    padding: 2%;
    margin-bottom: 2vw;
  }
  .communication-part #basic-view #main-logo i{
    font-size: 5vw;
    color: black;
  }

  .communication-part #basic-view #cards{
    height: fit-content;
    width: fit-content;
    /* background-color: red; */
    display: flex;
    column-gap: 2%;
  }
  .communication-part #basic-view #cards .card{
    height: fit-content;
    width: 20vw;
    background-color: black;
    padding: 1vw;
    border-radius: 10px;
  }

  .communication-part #basic-view #cards .card:hover{
    scale: 1.06;
    transition: all 0.3s linear;
    cursor: pointer;
  }

  .communication-part #basic-view #cards .card i{
    /* background-color: orange; */
    height: fit-content;
    width: fit-content;
    padding: 0.5vw;
    border-radius: 50%;
    border: 2px solid #dad7cd;
    font-size: 1.3vw;
    font-weight: 700;
    color: #dad7cd;
  }
  .communication-part #basic-view #cards .card p{
    margin-top: 1vw;
    width: 60%;
    font-family: romancio;
    font-size: 1.5vw;
    color: #dad7cd;
  }