@font-face {
    font-family: tm;
    src: url(./Font/Acid\ TM.otf);
}

@font-face {
    font-family: fontSpring;
    src: url(./Font/Fontspring-DEMO-pinkcrestelle-semibold.otf);
}

@font-face {
    font-family: hatsch;
    src: url(./Font/Hatsch.ttf);
}

@font-face {
    font-family: romancio;
    src: url(./Font/Romancio.otf);
}
@font-face {
    font-family: sans;
    src: url(./Font/GeneralSans-Regular.otf);
}
@font-face {
    font-family: apercu;
    src: url(./Font/apercu-regular-pro.ttf);
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}
section{
    background-color:#171717;
    height: 100%;
    width: 15.7%;
}
section .top-section{
    color:#B4B4B4;
    font-size: 26px;    
    display: flex; /* Enable flexbox */  
    align-items: center; /* Vertically center icons */  
    justify-content: space-between; /* Distribute space evenly */  
    padding: 20px;
    
}
section #history-section {  
    width: 100%; /* Adjust width as needed */  
    margin: 20px ; /* Center the section */  
    padding: 20px; /* Add some padding around the section */  
    border-radius: 5px; /* Optional rounded corners */  
    overflow-y: auto; /* Enable vertical scrolling if needed */  
}
#history-section ul{
    list-style: none;
    font-size: 17px;
    color: #ECECEC;
}  
main{
    background-color: #212121;
    width: 100%;
    height: 100%;
}
main #conversation{
    /*background-color: blue;*/
    width: 100%;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

main #footer{
   /* background-color:rgb(255, 179, 0);*/
    width: 100%;
    height: 15%;
}

