@font-face {
    font-family: tm;
    src: url(./Font/Acid\ TM.otf);
}
@font-face {
    font-family: fontSpring;
    src: url(./Font/Fontspring-DEMO-pinkcrestelle-semibold.otf);
}
@font-face {
    font-family: hatsch;
    src: url(./Font/Hatsch.ttf);
}
@font-face {
    font-family: romancio;
    src: url(./Font/Romancio.otf);
}

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

section{
    background-color: #081c15;
    height: 100%;
    width: 20%;
}
.section-top{
    /* border: 2px solid red; */
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 2%;
}
.section-top svg{
    padding: 4px;
    border-radius: 7px;
    height:45%;
    color: rgb(211, 211, 211);
    cursor: pointer;
}
.section-top svg:hover{
    background-color: #012a36;
}

.section-middle{
    /* border: 2px solid red; */
    height: 80%;
    width: 100%;
    padding: 0.5vw;
    overflow: scroll;
}

.section-middle::-webkit-scrollbar{
    display: none;
}
.section-middle .history{
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section-middle .history p{
    height: 100%;
    width: 80%;
    color: #f2e9e4;
    margin-bottom: 0.7vw;
    padding: 0.3vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: romancio;
    font-size: 1.2vw;
    align-content: center;
    border-radius: 7px;
}
.section-middle .history p:hover, .history i:hover{
    background-color: #012a36;
    cursor: pointer;
}

.section-middle .history i{
    width: fit-content;
    height: 100%;
    color: #f2e9e4;
    border-radius: 7px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: right;
    cursor: pointer;
    font-size: 125%;
}
.section-bottom{
    height: 10%;
    width: 100%;
    /* border: 2px solid burlywood; */
    display: flex;
    align-items: top;
    justify-content: center;
    column-gap: 2%;
    padding-top: 5%;
}

.section-bottom i{
    height: fit-content;
    color: #f2e9e4;
    margin-top: 2%;
    border: 1px solid white;
    padding: 2%;
    border-radius: 50%;
}
.section-bottom #upgrade{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
}
.section-bottom #upgrade h1{
    font-size: 130%;
    width: fit-content;
    padding: 1.5%;
    border-radius: 7px;
}
.section-bottom #upgrade h1:hover{
    background-color: #012a36;
    cursor: pointer;
}
.section-bottom #upgrade h2{
    font-size: 90%;
    width: fit-content;
}
.section-bottom #upgrade h2:hover{
    color: blue;
    cursor: pointer;
}
.section-bottom #upgrade h1, #upgrade h2{
    color: #f2e9e4;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}

/* Section End Here */

main{
    
    background-color: green;
    width: 80%;
    height: 100%;
}
main #conversation{
    background-color: #1b4332;
    width: 100%;
    height: 90%;

}
main #footer{
    background-color: #1b4332;
    /* border: 1px solid white; */
    width: 100%;
    height: 10%;
}

